<h1>You searched for: <%= @benefit.name %></h1>

<% @menus.each do |menu| %>
<% @benefits = menu.benefit_ids %>
<% end %>

<% @menus.each do |menu| %>
  <% menu.benefits.each do |benefit| %>
    <% if @benefit.name == benefit.name %>
      <% if menu.size == 1 %>
        <ul>
          <li><%= menu.name %></li>
          <li><%= menu.ingredients %></li>
          <li><%= menu.price %></li>
        </ul>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% @menus.each do |menu| %>
  <% menu.benefits.each do |benefit| %>
    <% if @benefit.name == benefit.name %>
      <% if menu.size == 2 %>
        <ul>
          <li><%= menu.name %></li>
          <li><%= menu.ingredients %></li>
          <li><%= menu.price %></li>
        </ul>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% @menus.each do |menu| %>
  <% menu.benefits.each do |benefit| %>
    <% if @benefit.name == benefit.name %>
      <% if menu.size == 3 %>
        <ul>
          <li><%= menu.name %></li>
          <li><%= menu.ingredients %></li>
          <li><%= menu.price %></li>
        </ul>
      <% end %>
    <% end %>
  <% end %>
<% end %>
