
<%= form_for @menu do | f | %>
<fieldset>
  <%= f.label :name %>
  <%= f.text_field :name, :required => true, :placeholder => 'Name  Eg.  Toast' %>
</fieldset>
<fieldset>
  <%= f.label :ingredients %>
  <%= f.text_field :ingredients, :required => true, :placeholder => 'Description  of  item' %>
</fieldset>
<fieldset>
  <%= f.label :price %>
  <%= f.text_field :price, :required => true, :placeholder => '$20.00' %>
</fieldset>
<fieldset>
  <%= f.label :size %>
  <%= f.number_field :size, :required => true, :placeholder => '1 = Light,  2 = Main,  3 = Drink' %>
</fieldset>
<fieldset>
  <%= f.label :weather %>
  <%= f.number_field :weather, :required => true, :placeholder => "Eat when 1 = It's cold,  2 = It's hot,  3 = Both" %>
</fieldset>
<fieldset>
    <ul class="checkbox">
      <%= f.label "Benefits", :class => "benefitlabel"  %>
      <%= f.collection_check_boxes :benefit_ids, @benefits, :id, :name do |b| %>
        <li class="benefitsublabels">
          <%= b.check_box %>
          <%= b.label %>
        </li>
      <% end %>
    </ul>
</fieldset>
<label></label>
<fieldset>
  <%= f.submit "Add Item", :class => 'addbutton' %>
</fieldset>
<% end %>
