<div class="col-md-4 col-md-offset-0">
<div class="sidebar">
  <div class="col-md-7 col-md-offset-0">
    <h1 class="menulogo"><%= link_to 'BR', root_path, :class => "menulogo" %></h1>
    <h2 class="menutagline"><%= link_to 'ZERO FOOD ENVY', root_path, :class => "menutagline" %> </h2>

    <a href="/menus" class="sidenav" id="firstitem">See Full Menu</a>
    <h3 class="or-text">OR</h3>
    <a href="/benefits" class="sidenav">Choose by problem area</a>
    <a href="/random" class="sidenav">Choose for me</a>
    <a href="/weathersearch" class="sidenav">Choose by weather</a>

  </div>
</div>
</div>

<body class="menubody">
  <div class="col-md-3 col-md-offset-9">
    <h3  class="counternote">*Please order at the counter.</h3>
  </div>

  <div class="row">
    <div class="col-md-5 col-md-offset-4">
      <h1 class="pageheading">ALL DAY MENU</h1>
      <h2 class="pagesubheading">SOMETHING LIGHT</h2>
    </div>
      <% @menus.each do |menu| %>
      <% if menu.size == 1 %>
        <ul>
    <div class="col-md-6 col-md-offset-4">
          <li class="menuheading"><%= menu.name %><span class="menuprice"><%= menu.price %></span></li>
          <li class="menulist"><%= menu.ingredients %></li>
    </div>
        </ul>
        <% end %>
      <% end %>

  <div class="row">
    <div class="col-md-5 col-md-offset-4">
      <h2 class="pagesubheading">I'M HUNGRY</h2>
  </div>
      <% @menus.each do |menu| %>
      <% if menu.size == 2 %>
        <ul>
    <div class="col-md-6 col-md-offset-4">
          <li class="menuheading"><%= menu.name %><span class="menuprice"><%= menu.price %></span></li>
          <li class="menulist"><%= menu.ingredients %></li>
    </div>
        </ul>
        <% end %>
      <% end %>

  <div class="row">
    <div class="col-md-5 col-md-offset-4">
      <h2 class="pagesubheading">DRINKS</h2>
    </div>
      <% @menus.each do |menu| %>
      <% if menu.size == 3 %>
        <ul>
    <div class="col-md-6 col-md-offset-4">
          <li class="menuheading"><%= menu.name %><span class="menuprice"><%= menu.price %></span></li>
          <li class="menulist"><%= menu.ingredients %></li>
    </div>
        </ul>
        <% end %>
      <% end %>
    </div>
  </div>

  <footer class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <h3 class="footeritem" id="copyright">© BiteRite 2017</h3>
      <h3 class="footeritem">Developed by <a href="https://www.linkedin.com/in/samantha-cordingley-8346ba1a/" class="footeritem" id="footerlink" target="_blank">Coda</a></h3>
      <h3 class="footeritem"><%= link_to "Log in as Admin", login_path, :class => "footeritem", :id => "footerlink" %></h3>
    </div>
  </footer>

</body>
