<h1>Update Menu</h1>

<%= render :partial => 'form' %>

<% @menus.each do |menu| %>
<% if menu.size == 1 %>
  <ul>
    <li><%= menu.name %></li>
    <li><%= menu.ingredients %></li>
    <li><%= menu.price %></li>
    <% menu.benefits.each do |b| %>
      <ul>
        <li><%= b.name %></li>
      </ul>
    <% end %>
    <div class="controls">
    <%= link_to 'Edit', edit_menu_path(menu.id) %>
  </div>
  </ul>
  <% end %>
  <% end %>

  <% @menus.each do |menu| %>
  <% if menu.size == 2 %>
  <ul>
    <li><%= menu.name %></li>
    <li><%= menu.ingredients %></li>
    <li><%= menu.price %></li>
    <% menu.benefits.each do |b| %>
    <ul>
      <li><%= b.name %></li>
    </ul>
    <% end %>
    <div class="controls">
    <%= link_to 'Edit', edit_menu_path(menu.id) %>
    </div>
  </ul>
  <% end %>
  <% end %>

  <% @menus.each do |menu| %>
  <% if menu.size == 3 %>
  <ul>
    <li><%= menu.name %></li>
    <li><%= menu.ingredients %></li>
    <li><%= menu.price %></li>
    <% menu.benefits.each do |b| %>
    <ul>
      <li><%= b.name %></li>
    </ul>
    <% end %>
    <div class="controls">
    <%= link_to 'Edit', edit_menu_path(menu.id) %>
    </div>
  </ul>
<% end %>
<% end %>
