<span style="font-size:30px;cursor:pointer" onclick="openNav()" class="fa fa-bars fa-4x"></span>
  <h1 class="mainmenulogo"><%= link_to 'BR', root_path, :class => "mainmenulogo" %></h1>

  <div id="mySidenav" class="adminsidenav">
    <span style="font-size:59px;cursor:pointer" onclick="closeNav()" class="closebtn">&times;</span>

        <h1 class="menulogo"><%= link_to 'BR', root_path, :class => "menulogo" %></h1>
        <h2 class="menutagline"><%= link_to 'ZERO FOOD ENVY', root_path, :class => "menutagline" %> </h2>

        <a href="/dashboard" class="navitem" id="firstitem">Back To Dash</a>
        <h3 class="or-text">OR</h3>
        <a href="/menus/new" class="navitem">Add/Edit Menu</a>
        <a href="/benefits/new" class="navitem">Add/Edit HealthList</a>
        <a href="/users/new" class="navitem">Add Team Member</a>
</div>

<div class="row" id="signupcontainer">
  <div class="col-md-11">
    <h1 class="updateheading">Add Admin User</h1>
</br>
    <% if @user.errors.any? %>
    <ol>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ol>
    <% end %>

    <%= form_for @user do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.label :email %>
      <%= f.email_field :email %>
      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Create User", :class => 'addbutton' %>
    <% end %>
  </div>
</div>

<footer class="adminbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <h3 class="footeritem" id="copyright">© BiteRite 2017</h3>
    <h3 class="footeritem">Developed by <a href="https://www.linkedin.com/in/samantha-cordingley-8346ba1a/" class="footeritem" id="footerlink" target="_blank">Coda</a></h3>
    <h3 class="footeritem">
      <% if @current_user.present? %>
        <%= link_to "Sign Out", login_path, :method => 'delete', :class => 'footerlink' %>
      <% end %>
    </h3>
  </div>
</footer>
