<!DOCTYPE html>
<html>
  <head>
    <title>Biterite</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link <link <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700|Ubuntu:300,400,500,700" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <!-- <nav>
        <%= link_to 'BiteRite', root_path %>
        <% if @current_user.present? %>
          <%= link_to "Sign Out #{ @current_user.email }", login_path, :method => 'delete' %>
        <% else %>
          <%= link_to 'Sign In', login_path %>
        <% end %>
      </nav> -->

      <%= yield %>

  </body>
</html>
