<!DOCTYPE html>
<html>
  <head>
    <title>Biterite</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link <link <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700|Ubuntu:300,400,500,700" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <nav>
        <%= link_to 'BiteRite', root_path %>
        <% if @current_user.present? %>
          <%= link_to "Sign Out #{ @current_user.email }", login_path, :method => 'delete' %>
        <% else %>
          <%= link_to 'Sign In', login_path %>
        <% end %>
      </nav>

      <footer class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
          <h3 class="footeritem" id="copyright">© BiteRite 2017</h3>
          <h3 class="footeritem">Developed by <a href="https://www.linkedin.com/in/samantha-cordingley-8346ba1a/" class="footeritem" id="footerlink" target="_blank">Coda</a></h3>
          <h3 class="footeritem"><%= link_to "Log in as Admin", login_path, :class => "footeritem", :id => "footerlink" %></h3>
        </div>
      </footer>

      <%= yield %>

  </body>
</html>
